body{
  background: black;
}
#canvas{
  position: fixed;
  top: calc(50% - 250px);
  left: calc(50% - 200px);
  width: 400px;
  height: 500px;
  border: solid;
  border-width: 3px;
  border-color: white;
}
